*{
	margin: 0;
	padding: 0;
}
.container{
  text-align: center;
}
.header
{
  background-color: #5c04bc;
  padding: 17px;
  color: white;
}
.common {
  width: 284px;
  padding: 60px 150px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
  margin: 0px 470px;
}
.add
{
  background-color: #5c04bc;
  color: white;
  margin: 15px 0px 0px 0px;
  border-radius: 12px;
  padding: 10px;
  border: #5c04bc;
}
.tabs
{
  display: flex;
  align-items:center ;
  margin: 0px 0px 0px 680px;
  padding: 20px;
}
.delete
{
  margin: 0px 0px 0px 10px;
  padding: 10px;
}
.edit
{
  margin: 0px 0px 0px 10px;
  padding: 10px;
}
.submit
{
  margin: 0px 0px 0px 10px;
  padding: 10px;
}
.tabs
{
  width: 200px;
  padding: 40px 150px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
  margin: 0px 515px;
  
}
.buttons
{
  display: flex;
}
.delete:hover {
  background-color: red;
}
.edit:hover {
  background-color:  #b0f2b6;
}
.submit:hover {
  background-color: green;
}
input
{
  font-family:"Segoe Print", Verdan, Arial;
  -moz-border-radius:4px;
  border:1px solid gray;
  border-radius:4px;
  padding-left:8px;
}
